In [ ]:
from google.colab import files
from google.colab import auth
from google.colab import drive
auth.authenticate_user()
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install pip

import pip

for each in ["requests","beautifulsoup4"]: 
    pip.main(['install', each])

import requests
from bs4 import BeautifulSoup

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pip in /usr/local/lib/python3.8/dist-packages (21.1.3)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests) (3.0.4)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (4.6.3)

In [ ]:
#scraping indeed for positions according to candidate profile
import datetime, time
!pip install wget
import wget

import csv, re
import logging

import pandas as pd
import sqlite3
import json
from pytz import timezone

from requests.auth import HTTPBasicAuth
import requests
from requests.exceptions import HTTPError
import traceback

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9674 sha256=a9e31dbfa5af116e92b5058b1c74b8ca3722c9bb922671efe0948347f270a1cf
  Stored in directory: /root/.cache/pip/wheels/bd/a8/c3/3cf2c14a1837a4e04bd98631724e81f33f462d86a1d895fae0
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2
NumExpr defaulting to 2 threads.

In [ ]:
client_key = "77zk7frrida7k3"
client_secret = "CCISHQyTUjP3xqvZ"

In [ ]:
job_positions = ["data%20scientist%20intern","software%20engineering%20intern","Devops%20intern","Software%20Engineer","Data%20Analyst","Data%20Engineer"]
headers = {'Accept': 'application/json'}
auth = HTTPBasicAuth(client_key, client_secret)
job_url_template = "https://www.linkedin.com/jobs/view/"
job_df = pd.DataFrame(columns=["job_title","industry","company","description","job_locality","job_region","skills","job_post_expiry","education_requirements", "base_salary_min","base_salary_max","base_salary_currency","url"])

In [ ]:
list_of_links = []
try:
    s = requests.Session()
  
    for position in job_positions:
        for i in range(0,500,25):
        #for i in range(0,1):
            linkedin_url = 'https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords='+position+\
                            '&geoId=103644278&trk=public_jobs_jobs-search-bar_search-submit&position=8&pageNum=0&currentJobId=3257884433&start='+str(i)

            time.sleep(1)
            html_text = s.get(linkedin_url, headers=headers).text
            soup = BeautifulSoup(html_text, "html.parser")
            count=0
            for meat in soup.find_all('a'):
                if (meat.get('href') != None):
                    if(job_url_template in meat.get('href')):
                        list_of_links.append(meat.get('href'))
                        count+=1
    print(len(list_of_links))
except HTTPError as http_err:
    print(f'HTTP error occurred: {http_err}')
except Exception as err:
    print(f'Other error occurred: {err}')

2997

In [ ]:
job_data = []
print(len(list_of_links))
for i in range(0,len(list_of_links)):
    job_req = requests.Session()
    job_url=list_of_links[i]
    try:
        job_text = job_req.get(job_url, headers=headers, auth=auth).text
        job_soup = BeautifulSoup(job_text, "html.parser")
        job_desc_soup = BeautifulSoup(job_text, "lxml")
        job_details_content = job_soup.find('script',  {"type": "application/ld+json"})
        job_desc = job_desc_soup.find('div', class_='description__text')

        if(job_details_content and job_details_content.text):
            job_json = json.loads(job_details_content.text)
            job_details = [job_json.get('title'), job_json.get('industry')]

            if(job_json.get('identifier')):
                job_details.append(job_json.get('identifier').get('name'))
            else:
                job_details.append(None)
            
            if(job_desc):
                job_details.append(job_desc.text.replace("Show more"," ").replace("Show less", " "))
            else:
                job_details.append(None)
            
            if('jobLocation' in job_json and 'address' in job_json.get('jobLocation')):
                job_details.extend( [job_json.get('jobLocation').get('address').get('addressLocality'), 
                                    job_json.get('jobLocation').get('address').get('addressRegion')])
            else:
                job_details.extend([None,None])
                
            job_details.extend( [job_json.get('skills'), job_json.get('validThrough')])

            if('educationRequirements' in job_json):
                job_details.append(job_json.get('educationRequirements').get('credentialCategory'))
            else:
                job_details.append(None)

            if('baseSalary' in job_json and 'value' in job_json.get('baseSalary')):
                job_details.extend([job_json.get('baseSalary').get('value').get('minValue'),
                          job_json.get('baseSalary').get('value').get('maxValue'), job_json.get('baseSalary').get('currency')])
            else:
                job_details.extend([None,None,None])
            job_details.append(job_url)
            
            job_data.append(job_details)
            time.sleep(1.25)
        else:
            print(job_url)
    except Exception as e:
        logging.error(traceback.format_exc())

2997
https://www.linkedin.com/jobs/view/data-scientist-at-pomeroy-3384652177?refId=rB2AOc0hyuwFqg3vO5QRPg%3D%3D&trackingId=0hQTD%2B%2FqSv3Calpxxgr9nQ%3D%3D&position=25&pageNum=0&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-scientist-full-time-at-bardess-group-ltd-3389875542?refId=BV5TqViF4IDtWAggaunTqw%3D%3D&trackingId=S6Vpsp5biV%2Bfvw8QmNONaA%3D%3D&position=4&pageNum=1&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-scientist-at-r-d-partners-3384656781?refId=BV5TqViF4IDtWAggaunTqw%3D%3D&trackingId=Waevn1%2BG%2Bfxv3jqeoNrv7A%3D%3D&position=10&pageNum=1&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-scientist-at-hireresources-3384151389?refId=BV5TqViF4IDtWAggaunTqw%3D%3D&trackingId=0Sn6O4jMee9fSZ8ymgl8dQ%3D%3D&position=22&pageNum=1&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/python-data-scientist-at-brains-workgroup-3395566644?refId=P85ov0M%2B4Tnt8o8jAr4Hkg%3D%3D&trackingId=GlzSU6KI3Xa9nsmQIdcS2A%3D%3D&position=8&pageNum=9&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/machine-vision-engineer-at-w-h-leary-co-inc-3395534646?refId=LG1B5qqe00RMJ%2BIvm525ew%3D%3D&trackingId=QmpSLeS9uvf3vjcVgMlugw%3D%3D&position=17&pageNum=15&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-scientist-cost-analyst-at-quest-consulting-inc-3382643925?refId=Qczps%2BwTp6REK0TrY%2F%2FsJA%3D%3D&trackingId=%2Faplh740baYnWA76N4SXng%3D%3D&position=24&pageNum=16&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-summer-intern-2023-at-staples-3385013751?refId=cMp0u4wqS53ilCG8%2BjfFVA%3D%3D&trackingId=Kh1Pimyvy68iQE7kK11r4Q%3D%3D&position=13&pageNum=10&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-internship-jan-march-at-arivo-acceptance-3368897330?refId=QpGQZkdVeLssSbYGSugeFA%3D%3D&trackingId=4473Ss6DDMGwivGq8KPE4g%3D%3D&position=6&pageNum=11&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-intern-at-cubrc-3361176547?refId=EcV%2BkC%2FypOgXJTiZf0xjzA%3D%3D&trackingId=4hiJSjOlWcP1sCBwinDQVg%3D%3D&position=20&pageNum=17&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/aws-devops-admin-at-avance-consulting-3385121117?refId=pe60mf5Q54iZc0B5lFBxyg%3D%3D&trackingId=HCZ3i2aYLz1oRiSvBOUfPw%3D%3D&position=11&pageNum=1&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/cloud-engineer-at-finlocker-3395490904?refId=pe60mf5Q54iZc0B5lFBxyg%3D%3D&trackingId=%2FXJhPtsYK4bzu2AYJo5Xhg%3D%3D&position=13&pageNum=1&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/sql-developer-intern-at-custom-computer-specialists-3394347972?refId=pe60mf5Q54iZc0B5lFBxyg%3D%3D&trackingId=I97lyI0ObDFNs0BN12LwNw%3D%3D&position=14&pageNum=1&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/cloud-operations-engineer-at-veterans-sourcing-group-llc-3395533898?refId=JxdTA84TWvjwFB%2FYdOwUhw%3D%3D&trackingId=BmX9E1kex%2Bvw%2FWHKslhAzg%3D%3D&position=2&pageNum=2&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/cloud-security-engineer-at-trapp-technology-3394077063?refId=jo1ISWKv1p8iLgbSofGRIQ%3D%3D&trackingId=K6g6PyqXSl06%2BYC2SipEzw%3D%3D&position=14&pageNum=4&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/it-applications-engineer-at-globe-life-3395492896?refId=jo1ISWKv1p8iLgbSofGRIQ%3D%3D&trackingId=P0Wh2Jvpd9OwOOsiiLBFFg%3D%3D&position=25&pageNum=4&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/it-applications-engineer-at-globe-life-3395492896?refId=q5H6dRPmBqWqF3aZ62RbsQ%3D%3D&trackingId=bN6FlGn%2B8%2FI6rhH1xeBqQQ%3D%3D&position=2&pageNum=5&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/cloud-infrastructure-engineer-at-opspro-llc-3395456417?refId=L2Czj2oSXte0IEkQdoEH%2Fw%3D%3D&trackingId=Tz%2FkoHepH37LgugdHS2bqw%3D%3D&position=18&pageNum=9&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/cloud-infrastructure-engineer-at-opspro-llc-3395456417?refId=ad0tevDvRjyzHOKUBk0QVw%3D%3D&trackingId=FWwnbCStIwi82AxRswhdRw%3D%3D&position=15&pageNum=10&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/systems-engineer-at-sja-solutions-3395494595?refId=gJlBMWFF9oG0xkhbyqGxpw%3D%3D&trackingId=hB26JL0vrKhziujbyKi1gg%3D%3D&position=9&pageNum=11&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/junior-software-developer-at-cagenix-3395457398?refId=mo0%2F6yPLnH4ZG1nVXOt2ag%3D%3D&trackingId=tOvJJsx0oqTHhm96iADSfA%3D%3D&position=3&pageNum=12&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/associate-cloud-engineer-at-umass-chan-medical-school-3395594737?refId=ENdgciUMnqyQSiiN3YaVmw%3D%3D&trackingId=wgj%2B7hj7%2BmwYgXRlGMNLkQ%3D%3D&position=6&pageNum=14&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/jr-software-engineer-at-tellabs-3382702753?refId=vuvnGNNCkmIbUdtpKqghpw%3D%3D&trackingId=BIA6BYG%2B6Z2l4E0g3Itj3g%3D%3D&position=13&pageNum=0&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-foxconn-industrial-internet-3394335327?refId=S8Jfn%2FpX4iWTqhGCFuDicQ%3D%3D&trackingId=B3cLbYhyY4kuTqyeAptpeg%3D%3D&position=1&pageNum=1&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-productive-robotics-llc-3385802893?refId=S8Jfn%2FpX4iWTqhGCFuDicQ%3D%3D&trackingId=5M61rvXP2Oosllytop2KtA%3D%3D&position=9&pageNum=1&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-lightriver-companies-3382651454?refId=4mrE2QBT0mPd%2B13CO90LvA%3D%3D&trackingId=EP5kZ%2B871PqiA23lNvMjEg%3D%3D&position=7&pageNum=2&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-tribalco-3395458254?refId=4mrE2QBT0mPd%2B13CO90LvA%3D%3D&trackingId=TSWWYrOrh04ts1KvRBcQyg%3D%3D&position=13&pageNum=2&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-nagrastar-3384330203?refId=4mrE2QBT0mPd%2B13CO90LvA%3D%3D&trackingId=GvnL7Tc6NtSegXS9Vl%2Fklg%3D%3D&position=14&pageNum=2&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-impact-consulting-solutions-inc-3382908427?refId=4mrE2QBT0mPd%2B13CO90LvA%3D%3D&trackingId=aApnvCRw7nJ7YWBdCRA0RQ%3D%3D&position=15&pageNum=2&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-c%23-net-at-darbytek-3389892452?refId=4mrE2QBT0mPd%2B13CO90LvA%3D%3D&trackingId=5J1IkCrsu1hLFzcK8Ny4jA%3D%3D&position=18&pageNum=2&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-rsi-visuals-3394061760?refId=3JgqkNSezkdaMS9v0Djcsw%3D%3D&trackingId=u5h%2FrAURg3mMWaXydAWxxQ%3D%3D&position=6&pageNum=3&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-enhance-it-3390256067?refId=3JgqkNSezkdaMS9v0Djcsw%3D%3D&trackingId=oZSz6OisIJ2PyGB7FBE0HQ%3D%3D&position=17&pageNum=3&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-omnitech-inc-3395460187?refId=3JgqkNSezkdaMS9v0Djcsw%3D%3D&trackingId=wiOXQLwgEDrcid4Dftf3zw%3D%3D&position=23&pageNum=3&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-omnitech-inc-3395460187?refId=8VkvWOwgRwPAzZdW2ukIkA%3D%3D&trackingId=x0PAIBBELzl33vmqN2%2Flew%3D%3D&position=1&pageNum=4&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-developer-at-information-technology-3395496313?refId=8VkvWOwgRwPAzZdW2ukIkA%3D%3D&trackingId=CIEnCSaYUDNarJFIxTMufQ%3D%3D&position=10&pageNum=4&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-developer-backend-at-certedrive-3395491498?refId=FarYanI9SHtQs6y6yWAz9A%3D%3D&trackingId=dwTsX8850F7VhMjSH86fpQ%3D%3D&position=11&pageNum=7&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/back-end-software-engineer-at-healium-3394334470?refId=hSxhJs91qJ%2FgKhZ7ALhOoQ%3D%3D&trackingId=J6P8qQ8tdhzsCONI2W%2F8Uw%3D%3D&position=7&pageNum=9&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-backend-application-engineer-at-ashael-tek-solutions-llc-3395451531?refId=WaKYklz8B5wOvdRQlIO9dA%3D%3D&trackingId=go6C%2FhxfJ1304CS8HjpJgg%3D%3D&position=13&pageNum=10&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-application-engineer-hybrid-at-devonway-3394406604?refId=X6G0Lnya1cyW6RigrtoN8A%3D%3D&trackingId=9TzagL2rcf6fnMNL9IFAmg%3D%3D&position=5&pageNum=11&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/full-stack-software-engineer-at-avirtek-3390024233?refId=y8eWg4vLp87YoH3sJx8Z6A%3D%3D&trackingId=3CgaQatcRztFO0ABZKuUTA%3D%3D&position=2&pageNum=12&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-staff-experts-llc-3387515528?refId=%2BYRhVyXvOscyqLY073yU1Q%3D%3D&trackingId=2YgcKnkfXvXTXNQYu%2BOhYQ%3D%3D&position=19&pageNum=13&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-at-staff-experts-llc-3387515528?refId=BFKPsVUl5SraRzM46DT6Tw%3D%3D&trackingId=ME1i7DbLsMqZrCmRkTdTSw%3D%3D&position=8&pageNum=14&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/java-developer-software-engineer-at-enhance-it-3388668654?refId=IN4W7cVHIB61AslSljJptg%3D%3D&trackingId=rxKe4AEKHYeWrSaLeTUFfg%3D%3D&position=7&pageNum=15&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-development-engineer-at-the-job-connection-inc-3395538518?refId=IN4W7cVHIB61AslSljJptg%3D%3D&trackingId=1C89WlHZDK2TZUC1U53pzw%3D%3D&position=9&pageNum=15&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-developer-at-quality-manufacturing-systems-inc-qmsi-3395513146?refId=4bSZqyV7iGfeex3g2jBPaA%3D%3D&trackingId=7ylTq8LbyAH9lof85awdDA%3D%3D&position=1&pageNum=16&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/c%23-software-engineer-at-black-swan-search-3385772333?refId=4bSZqyV7iGfeex3g2jBPaA%3D%3D&trackingId=6Q2gfMv7A%2F%2BkFG5Zqj3%2BLw%3D%3D&position=15&pageNum=16&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/software-engineer-front-end-at-ashael-tek-solutions-llc-3395455101?refId=Z9gJzrghI0vJjpj0KKKcSA%3D%3D&trackingId=NaY5B1xSLhcToCv1pu1JQA%3D%3D&position=21&pageNum=19&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-analyst-at-surge-staffing-3395492666?refId=DkWbLn8n%2BJjxXNA9FwZy6Q%3D%3D&trackingId=dx1rgry4pc%2BrtuCbQsg8fw%3D%3D&position=3&pageNum=0&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-analyst-at-bluewave-resource-partners-3385812728?refId=I77hvCsPIvaa%2FyldXa5iWQ%3D%3D&trackingId=6qATzLdMICYbJVi16vQJmA%3D%3D&position=6&pageNum=1&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-analyst-entry-level-at-flexon-technologies-inc-3387396862?refId=I77hvCsPIvaa%2FyldXa5iWQ%3D%3D&trackingId=rSgmHFAL916u72%2B4DcB03A%3D%3D&position=13&pageNum=1&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/entry-level-data-analyst-at-asta-crs-inc-3395541204?refId=I77hvCsPIvaa%2FyldXa5iWQ%3D%3D&trackingId=sVaWEh5qbJHDbOMMCFisng%3D%3D&position=22&pageNum=1&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-analyst-at-paradigm-3394407665?refId=ISVef0cGc0sDcnTeIxAzYw%3D%3D&trackingId=Q95kX4r4NOIViGjubZOu0w%3D%3D&position=2&pageNum=4&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-analyst-i-at-tech-providers-inc-3388709415?refId=GHeIi8J4W6VxY4UMDAJ80g%3D%3D&trackingId=sEHj3W91K3Y939iWR6DMEg%3D%3D&position=10&pageNum=15&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-analyst-remote-at-aston-carter-3395514800?refId=H7HCbsVzQc5JGwM%2FsaI78A%3D%3D&trackingId=zqjqukC9ZNp5KcwUE6lNPg%3D%3D&position=19&pageNum=16&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-analyst-remote-at-aston-carter-3395514800?refId=YszulSx%2FLfvA02jMcN%2FPtg%3D%3D&trackingId=dlK6YE0YwEKYFyUavXpIRw%3D%3D&position=9&pageNum=17&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-analyst-at-aston-carter-3395515968?refId=vwL4YLBeodb0Ie%2FSAjYFSA%3D%3D&trackingId=56b0pio1MOBoa%2FXUC6Ql5Q%3D%3D&position=10&pageNum=19&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/financial-data-analyst-at-lafayette-federal-credit-union-3385845018?refId=vwL4YLBeodb0Ie%2FSAjYFSA%3D%3D&trackingId=PPB5Bi8DPc%2BjNrlPkKPdXA%3D%3D&position=23&pageNum=19&trk=public_jobs_jserp-result_search-card

ERROR: Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/urllib3/connectionpool.py", line 597, in urlopen
    httplib_response = self._make_request(conn, method, url,
  File "/usr/local/lib/python3.8/dist-packages/urllib3/connectionpool.py", line 343, in _make_request
    self._validate_conn(conn)
  File "/usr/local/lib/python3.8/dist-packages/urllib3/connectionpool.py", line 839, in _validate_conn
    conn.connect()
  File "/usr/local/lib/python3.8/dist-packages/urllib3/connection.py", line 337, in connect
    self.sock = ssl_wrap_socket(
  File "/usr/local/lib/python3.8/dist-packages/urllib3/util/ssl_.py", line 345, in ssl_wrap_socket
    return context.wrap_socket(sock, server_hostname=server_hostname)
  File "/usr/lib/python3.8/ssl.py", line 500, in wrap_socket
    return self.sslsocket_class._create(
  File "/usr/lib/python3.8/ssl.py", line 1040, in _create
    self.do_handshake()
  File "/usr/lib/python3.8/ssl.py", line 1309, in do_handshake
    self._sslobj.do_handshake()
ConnectionResetError: [Errno 104] Connection reset by peer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/requests/adapters.py", line 439, in send
    resp = conn.urlopen(
  File "/usr/local/lib/python3.8/dist-packages/urllib3/connectionpool.py", line 637, in urlopen
    retries = retries.increment(method, url, error=e, _pool=self,
  File "/usr/local/lib/python3.8/dist-packages/urllib3/util/retry.py", line 368, in increment
    raise six.reraise(type(error), error, _stacktrace)
  File "/usr/local/lib/python3.8/dist-packages/urllib3/packages/six.py", line 685, in reraise
    raise value.with_traceback(tb)
  File "/usr/local/lib/python3.8/dist-packages/urllib3/connectionpool.py", line 597, in urlopen
    httplib_response = self._make_request(conn, method, url,
  File "/usr/local/lib/python3.8/dist-packages/urllib3/connectionpool.py", line 343, in _make_request
    self._validate_conn(conn)
  File "/usr/local/lib/python3.8/dist-packages/urllib3/connectionpool.py", line 839, in _validate_conn
    conn.connect()
  File "/usr/local/lib/python3.8/dist-packages/urllib3/connection.py", line 337, in connect
    self.sock = ssl_wrap_socket(
  File "/usr/local/lib/python3.8/dist-packages/urllib3/util/ssl_.py", line 345, in ssl_wrap_socket
    return context.wrap_socket(sock, server_hostname=server_hostname)
  File "/usr/lib/python3.8/ssl.py", line 500, in wrap_socket
    return self.sslsocket_class._create(
  File "/usr/lib/python3.8/ssl.py", line 1040, in _create
    self.do_handshake()
  File "/usr/lib/python3.8/ssl.py", line 1309, in do_handshake
    self._sslobj.do_handshake()
urllib3.exceptions.ProtocolError: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "<ipython-input-7-6898fe842ce9>", line 7, in <module>
    job_text = job_req.get(job_url, headers=headers, auth=auth).text
  File "/usr/local/lib/python3.8/dist-packages/requests/sessions.py", line 543, in get
    return self.request('GET', url, **kwargs)
  File "/usr/local/lib/python3.8/dist-packages/requests/sessions.py", line 530, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/local/lib/python3.8/dist-packages/requests/sessions.py", line 643, in send
    r = adapter.send(request, **kwargs)
  File "/usr/local/lib/python3.8/dist-packages/requests/adapters.py", line 498, in send
    raise ConnectionError(err, request=request)
requests.exceptions.ConnectionError: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))

https://www.linkedin.com/jobs/view/data-engineer-at-proven-recruiting-3373349198?refId=UUJhKGHjUE4xrIzLGhR9Jg%3D%3D&trackingId=XdKEQKi%2BMqOVb%2FvSwmlDFA%3D%3D&position=8&pageNum=11&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/azure-data-engineer-at-techpeople-usa-3387563418?refId=1JIVG7OlqL74yicIQP30hA%3D%3D&trackingId=si7FJ%2Fmlx%2FYwhdDLDdqpRw%3D%3D&position=8&pageNum=12&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/data-engineer-at-flex-fleet-rental-3385814614?refId=1JIVG7OlqL74yicIQP30hA%3D%3D&trackingId=fb8hRAcTdRgcdGte5amwMw%3D%3D&position=14&pageNum=12&trk=public_jobs_jserp-result_search-card
https://www.linkedin.com/jobs/view/%09data-engineer-at-hays-3381689405?refId=OamvyHJETh2E%2FtYX1EpqUA%3D%3D&trackingId=PbhjjpTIMsaPHDIbqvFJ5Q%3D%3D&position=19&pageNum=18&trk=public_jobs_jserp-result_search-card

In [ ]:
job_df = pd.DataFrame(job_data, 
                       columns=["job_title","industry","company","description", "job_locality","job_region","skills","job_post_expiry","education_requirements", "base_salary_min","base_salary_max","base_salary_currency","url"])

job_df

,job_title,industry,company,description,job_locality,job_region,skills,job_post_expiry,education_requirements,base_salary_min,base_salary_max,base_salary_currency,url
0,Data Scientist Internship - OR (US),Insurance,Asurion,\n\n\n 2022-75202Asurion Data Science I...,Nashville,TN,,2023-01-04T03:56:32.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-scient...
1,Intern - Data Scientist,Medical Equipment Manufacturing,Dexcom,"\n\n\nAbout DexcomDexcom, Inc. empowers people...",United States,None,,2023-01-08T04:50:37.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/intern-data...
2,"Data Science, Graduate Internship",Retail,"Lowe's Companies, Inc.",\n\n\nLowe’s Summer Internship Program Overvie...,Charlotte,NC,,2023-01-09T14:48:39.000Z,None,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-scienc...
3,Data Scientist Internship - ML (US),Insurance,Asurion,\n\n\n 2022-75205Asurion Data Science I...,Nashville,TN,,2023-01-04T03:56:32.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-scient...
4,Data Science Intern,Manufacturing,Nestlé Purina North America,\n\n\n We’re a leader in the pet care i...,St Louis,MO,,2023-01-05T20:57:11.000Z,None,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-scienc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2930,"Data Engineer (AWS, Python, SQL)",Staffing and Recruiting,"Cambay Healthcare, LLC",\n\n\nDescriptionData EngineerWe are currently...,Durham,NC,,2023-01-09T17:59:24.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-engine...
2931,Data Engineer,Software Development,Diverse Lynx,\n\n\nJob DescriptionPerform Data Engineering ...,United States,None,,2023-01-03T06:44:43.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-engine...
2932,Data Engineer,Software Development,Diverse Lynx,\n\n\nJob DescriptionData model development an...,Chandler,AZ,,2023-01-03T08:59:18.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-engine...
2933,Associate Data Engineer,IT Services and IT Consulting,Neudesic,\n\n\nAbout NeudesicPassion for technology dri...,Irvine,CA,,2023-01-01T17:53:58.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/associate-d...
2934,Data Engineer,IT Services and IT Consulting,Danta Technologies,\n\n\n Evaluating existing data systems...,Houston,TX,,2023-01-09T17:58:35.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-engine...

In [ ]:
job_df['description']

0       \n\n\n        2022-75202Asurion Data Science I...
1       \n\n\nAbout DexcomDexcom, Inc. empowers people...
2       \n\n\nLowe’s Summer Internship Program Overvie...
3       \n\n\n        2022-75205Asurion Data Science I...
4       \n\n\n        We’re a leader in the pet care i...
                              ...
2930    \n\n\nDescriptionData EngineerWe are currently...
2931    \n\n\nJob DescriptionPerform Data Engineering ...
2932    \n\n\nJob DescriptionData model development an...
2933    \n\n\nAbout NeudesicPassion for technology dri...
2934    \n\n\n        Evaluating existing data systems...
Name: description, Length: 2935, dtype: object

In [ ]:
print(job_data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
job_df = pd.DataFrame(job_data, 
                       columns=["job_title","industry","company","description", "job_locality","job_region","skills","job_post_expiry","education_requirements", "base_salary_min","base_salary_max","base_salary_currency","url"])
outfile="jobs_data"
outfile=outfile+'.csv'
print(outfile)
job_df.to_csv(outfile, sep=',', encoding='utf-8')

job_df

jobs_data.csv

,job_title,industry,company,description,job_locality,job_region,skills,job_post_expiry,education_requirements,base_salary_min,base_salary_max,base_salary_currency,url
0,Data Scientist Internship - OR (US),Insurance,Asurion,\n\n\n 2022-75202Asurion Data Science I...,Nashville,TN,,2023-01-04T03:56:32.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-scient...
1,Intern - Data Scientist,Medical Equipment Manufacturing,Dexcom,"\n\n\nAbout DexcomDexcom, Inc. empowers people...",United States,None,,2023-01-08T04:50:37.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/intern-data...
2,"Data Science, Graduate Internship",Retail,"Lowe's Companies, Inc.",\n\n\nLowe’s Summer Internship Program Overvie...,Charlotte,NC,,2023-01-09T14:48:39.000Z,None,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-scienc...
3,Data Scientist Internship - ML (US),Insurance,Asurion,\n\n\n 2022-75205Asurion Data Science I...,Nashville,TN,,2023-01-04T03:56:32.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-scient...
4,Data Science Intern,Manufacturing,Nestlé Purina North America,\n\n\n We’re a leader in the pet care i...,St Louis,MO,,2023-01-05T20:57:11.000Z,None,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-scienc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2930,"Data Engineer (AWS, Python, SQL)",Staffing and Recruiting,"Cambay Healthcare, LLC",\n\n\nDescriptionData EngineerWe are currently...,Durham,NC,,2023-01-09T17:59:24.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-engine...
2931,Data Engineer,Software Development,Diverse Lynx,\n\n\nJob DescriptionPerform Data Engineering ...,United States,None,,2023-01-03T06:44:43.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-engine...
2932,Data Engineer,Software Development,Diverse Lynx,\n\n\nJob DescriptionData model development an...,Chandler,AZ,,2023-01-03T08:59:18.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-engine...
2933,Associate Data Engineer,IT Services and IT Consulting,Neudesic,\n\n\nAbout NeudesicPassion for technology dri...,Irvine,CA,,2023-01-01T17:53:58.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/associate-d...
2934,Data Engineer,IT Services and IT Consulting,Danta Technologies,\n\n\n Evaluating existing data systems...,Houston,TX,,2023-01-09T17:58:35.000Z,bachelor degree,NaN,NaN,None,https://www.linkedin.com/jobs/view/data-engine...

In [ ]:
!cp "/content/jobs_data.csv" "/content/drive/MyDrive/jobs_data.csv"
print("Uploaded")

Uploaded